{% extends "base.html" %}

{% block content %}

    <h1 style="color:black">Greetings Class!</h1>
    <div class="box">
    <h2 style="color:gray">About</h2>
<p style="margin-left:40px;margin-right:40px;">The Marshall Residence Office has assigned us to design a database. This is our final implementation of the project where we started from
designing a conceptual model, to a logical model and finally to application. Fifteen queries have been integrated to demonstrate the ability of this
application and database.</p>


</div>

{% endblock %}