{% extends "base.html" %}

{% block content %}



  <h1 style="color:black;">Greetings Class!</h1>
<form name="queries" action="{{ url_for('query_post') }}" method="POST">

<div class="box" style="height: 230px;">
    <h2 style="color:gray">Queries</h2>
    </br>
        <select name="querycontroller" class="form-control" id="rating" name="rating">
            <option value="1">Query 1</option>
            <option value="2">Query 2</option>
            <option value="3">Query 3</option>
            <option value="4">Query 4</option>
            <option value="5">Query 5</option>
            <option value="6">Query 6</option>
            <option value="7">Query 7</option>
            <option value="8">Query 8</option>
            <option value="9">Query 9</option>
            <option value="10">Query 10</option>
            <option value="11">Query 11</option>
            <option value="12">Query 12</option>
            <option value="13">Query 13</option>
            <option value="14">Query 14</option>
            <option value="15">Query 15</option>

        </select>
</br>
    <center>
       <button type="submit" class="btn btn-default">Go --></button>
    </center>
</div>
</form>


{% endblock %}